# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings
website:
  title: "Ben Kwiatkowski"                                # Your name
  description: "My Personal Website"   # A brief slogan (optional)
  image: img/selfie.jpg
  
  favicon: img/favicon.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/logo.png
    
    # your sub-pages
    left:
      - text: "Projects"
        href: projects/index.qmd
      - text: "CV"
        href: cv/index.qmd
    
    # your social media handles
    right:
      - icon: linkedin
        href: https://www.linkedin.com/in/ben-kwiatkowski-25517a261/
      - icon: envelope
        aria-label: email
        href: "mailto:btk35@case.edu"  
  
  

# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: textbox
  page-footer: 
    left: |
      <span class="faux-block">&#169; 2025 Ben Kwiatkowski</span>
    right: |
      <span class="faux-block">This website was made using <a href="https://github.com/marvinschmitt/quarto-website-template/">this template</a>.</span>

project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true